{if $moduleid==2}</div>{/if}
<div class="content content-two web-consult">
<div id="footer">
    <div class="wrapper">
        <div class="footer-menu">
            <dl class="item-a">
                <dt>购房工具</dt>
                <dd><a href="{$MODULE[1][linkurl]}tool/benjin.php">房贷计算器</a></dd>
                <dd><a href="{$MODULE[1][linkurl]}map">地图找房</a></dd>
                <dd><a href="{$MODULE[1][linkurl]}tool/tqhd.php">提前还款计算器</a></dd>
                <dd><a href="{$MODULE[1][linkurl]}tool">购房能力</a></dd>
                <dd><a href="{$MODULE[1][linkurl]}tool/sf.php">税费计算器</a></dd>
                <dd><a href="{$MODULE[1][linkurl]}tool/gjj.php">公积金贷款计算器</a></dd>
            </dl>
            <dl class="item-b">
                <dt>购房优惠</dt>
                <dd><a href="{$MODULE[8][linkurl]}list-32.html">楼盘导购</a></dd>
                <dd><a href="{$MODULE[15][linkurl]}">新房团购</a></dd>
                <dd><a href="{$MODULE[1][linkurl]}fenxiao">赚佣金</a></dd>
            </dl>
            <dl class="item-c">
                <dt>楼盘项目</dt>
                <dd><a href="{$MODULE[6][linkurl]}">楼盘</a></dd>	
                <dd><a href="{$MODULE[7][linkurl]}list-t15.html">商铺出租</a></dd>
                <dd><a href="{$MODULE[5][linkurl]}list-t10.html">商业</a></dd>
                <dd><a href="{$MODULE[5][linkurl]}list-t11.html">写字楼</a></dd>
                <dd><a href="{$MODULE[5][linkurl]}">二手房</a></dd>
                <dd><a href="{$MODULE[7][linkurl]}">租房</a></dd>
            </dl>
            <dl class="item-d">
                <div class="code-con">
                    <img src="{$MODULE[1][linkurl]}api/qrcode.png.php?auth={urlencode($EXT[mobile_url])}" />
                    <span>手机扫描二微码</span>
                </div>
                <div class="contact-con">
                    <img src="{$MODULE[1][linkurl]}api/weixin/qrcode.php" />
                    <span>手机扫描关注微信</span>
                </div>
            </dl>
        </div>
        <div class="clearit"></div>
        {if $moduleid==1}
       <div class="footer-friendlink">
            <div class="footer-friendlink-cate">
                <a href="javascript:;" class="tabs current" data-group="flink" data-rel="f1">友情链接<em></em></a>
                
            </div>
            <div class="footer-friendlink-con">
                <div id="f1" class="flink" style="display: block;">
                <!--{php $tags=tag("table=link&condition=status=3 and thumb='' and username=''&areaid=$cityid&pagesize=".$AJ['page_text']."&order=listorder desc,itemid desc&template=null");}-->
					  {loop $tags $t} <a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}">{$t[title]}</a><span>|</span> {/loop}
                                    </div>                
                
            </div>
        </div>    
 {/if}
        <div class="copyright">
         <a href="{$MODULE[1][linkurl]}">网站首页</a>  <!--{tag("table=webpage&condition=item=1&areaid=$cityid&order=listorder desc,itemid desc&template=list-webpage")}-->|  <a href="{$MODULE[1][linkurl]}sitemap/">网站地图</a>
		{if $EXT[guestbook_enable]} |  <a href="{$EXT[guestbook_url]}">网站留言</a>{/if}
		{if $EXT[ad_enable]} |  <a href="{$EXT[ad_url]}">广告服务</a>{/if} | <a href="{$EXT[mobile_url]}" target="_blank">手机版</a><br />
           {$AJ[copyright]}&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.miibeian.gov.cn" target="_blank" rel="nofollow">{$AJ[icpno]}</a><br />
           客服热线  {$AJ[telephone]}（工作时间：周一至周五8:00至18:00）
       
        </div>
    </div>
</div>
<div id="float-links">
    <a href="{$MODULE[6][linkurl]}"><i class="i1"></i><span>楼盘搜索</span></a>
    <a href="{$MODULE[8][linkurl]}list-32.html"><i class="i2"></i><span>楼盘导购</span></a>
    <a href="{$MODULE[5][linkurl]}"><i class="i3"></i><span>二手房</span></a>
    <a href="{$MODULE[7][linkurl]}"><i class="i4"></i><span>租房</span></a>
    <a href="javascript:;" class="back-top"><i class="i5"></i><span>返回顶部</span></a>
</div>
</div>
<script>
        $(function(){
                if (isMobile()){
                        $('.web-consult').hide();
                        $('.phone-consult').show();
                }else{
                        $('.web-consult').show();
                        $('.phone-consult').hide();
                }
        })
        //手机端判断各个平台浏览器及操作系统平台
function isMobile(){
        if(/android/i.test(navigator.userAgent)){
                //document.write("This is Android'browser.");//这是Android平台下浏览器
                return true;
        }
        if(/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)){
                //document.write("This is iOS'browser.");//这是iOS平台下浏览器
                return true;
        }
        if(/Linux/i.test(navigator.userAgent)){
                //document.write("This is Linux'browser.");//这是Linux平台下浏览器
                return true;
        }
        if(/Linux/i.test(navigator.platform)){
                //document.write("This is Linux operating system.");//这是Linux操作系统平台
                return true;
        }
        if(/MicroMessenger/i.test(navigator.userAgent)){
                //document.write("This is MicroMessenger'browser.");//这是微信平台下浏览器
                return true;
        }
       
        return false;
}
</script> 
<script type="text/javascript">
{if $aijiacms_task}
show_task('{$aijiacms_task}');
{else}
{php include AJ_ROOT.'/api/task.inc.php';}
{/if}

</script>


</body>
</html>