{template 'header'}
 
<link type="text/css" href="css/base.css" rel="stylesheet">
<link type="text/css" href="css/main.css" rel="stylesheet">
<link type="text/css" href="css/swiper.css" rel="stylesheet">
<!--幻灯片S-->
<div class="swiper-container swiper-container1">
    <div class="swiper-wrapper">
		<div class="swiper-slide" style="background-image:url(images/banner.jpg);"></div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>
<!--幻灯片E-->
<div class="main">
	<!-- container start -->
	<div class="container">
		<div class="home-title title"><img src="./images/line01.png"><h1>装修流程 透明规范</h1><img src="./images/line01.png"></div>
		<div class="home-finish">
			<a class="J-Icon-Tab" href="#" target="_blank"><i class="zxzj-icon-shoufang"></i><br>收房量房</a>
			<a class="J-Icon-Tab" href="#" target="_blank"><i class="zxzj-icon-zhunbei"></i><br>前期准备</a>
			<a class="J-Icon-Tab" href="#" target="_blank"><i class="zxzj-icon-xuangongsi"></i><br>选装修公司</a>
			<a class="J-Icon-Tab" href="#" target="_blank"><i class="zxzj-icon-design"></i><br>设计阶段</a>
			<a class="J-Icon-Tab" href="#" target="_blank"><i class="zxzj-icon-cailiao"></i><br>材料选购</a>
			<a class="J-Icon-Tab" href="#" target="_blank"><i class="zxzj-icon-shigong"></i><br>施工阶段</a>
			<a class="J-Icon-Tab" href="#" target="_blank"><i class="zxzj-icon-jungong-list"></i><br>竣工验收</a>
			<a class="J-Icon-Tab" href="#" target="_blank"><i class="zxzj-icon-ruanzhuang"></i><br>软装配饰</a>
			<a class="J-Icon-Tab" href="#" target="_blank"><i class="zxzj-icon-baozhang"></i><br>装修保障</a>
		</div>
		<div class="home-title title">
			<img src="./images/line01.png"><h1><a href="#">装修效果图</a></h1><img src="./images/line01.png">
		</div>
		<div class="home-txt">提供100万张海量高清效果图，50万张精美搭配图片供你挑选与参与</div>
		<div class="sec-case">
    		<div class="case-list">
  				<div class="pic01">
					<div class="hotel-l">
						<div class="s-lun-car">
							<div class="lun-wrap-car nclearfix">
								<a href="#" target="_blank" class="sma-lun-car">
									<img src="./images/index_01.jpg" alt="装修美图">
								</a>
							</div>
						</div>
						<div class="yel-bei">
							<p class="ins-name">装修美图</p>
							<p class="english">BEAUTY DECORATION</p>
							<p class="say">不一样的风格<br>      更多装修灵感</p>
							<ul class="pin-lei">
								<li><a href="#" target="_blank">进入美图频道</a></li>
							</ul>
						</div>
       				</div>
    			</div>
				<div class="case-list-right">
					<div class="case-list-fir">
						<ul>
							<li class="xtu1">
								<a href="#" target="_blank" title="厨房设计效果图">
									<img class="lazy img-hover" src="./images/index_05.jpg" alt="简欧别墅室内厨房设计效果图">
									<div class="open">
										<div class="black-screen"></div>
										<span>简欧别墅室内厨房设计效果图</span>
									</div>
								</a>
							</li>
							<li class="xtu2">
								<a href="#" target="_blank" title="卧室装修效果图">
									<img class="lazy" src="./images/index_03.jpg" alt="卧室装修效果图">
									<div class="open">
										<div class="black-screen"></div>
										<span>温馨白色现代风格卧室装修</span>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<div class="case-list-sec">
						<ul>
							<li class="pic3">
								<a href="#" target="_blank" title="卫生间效果图欣赏">
									<img class="lazy" src="./images/index_04.jpg" alt="卫生间效果图欣赏">
									<div class="open">
										<div class="black-screen"></div>
										<span>米色现代简约风格卫生间效果图欣赏</span>
									</div>
								</a>
							</li>
							<li class="pic4">
								<a href="#" target="_blank" title="客厅背景墙美图欣赏">
									<img class="lazy img-hover" src="./images/index_02.jpg" alt="客厅背景墙美图欣赏">
									<div class="open">
										<div class="black-screen"></div>
										<span>美式清新绿色客厅背景墙美图欣赏</span>
									</div>
								</a>
							</li>
						</ul>
					</div>
        		</div>
  			</div>
		</div>
		<div class="home-list cf">
			<ul>
				<li><a href="#" target="_blank"><img src="./images/index_xgt_gzxgt_img6.jpg">客厅</a></li>
				<li><a href="#" target="_blank"><img src="./images/index_xgt_gzxgt_img8.jpg">卧室</a></li>
				<li><a href="#" target="_blank"><img src="./images/index_xgt_gzxgt_img3.jpg">餐厅</a></li>
				<li><a href="#" target="_blank"><img src="./images/index_xgt_gzxgt_img4.jpg">厨房</a></li>
				<li><a href="#" target="_blank"><img src="./images/index_xgt_gzxgt_img7.jpg">卫生间</a></li>
				<li><a href="#" target="_blank"><img src="./images/index_xgt_gzxgt_img1.jpg">阳台</a></li>
				<li><a href="#" target="_blank"><img src="./images/index_xgt_gzxgt_img2.jpg">背景墙</a></li>
				<li><a href="#" target="_blank"><img src="./images/index_xgt_gzxgt_img5.jpg">吊顶</a></li>
			</ul>
		</div>
		<div class="clear"></div>
 
		<div class="home-title title">
			<img src="./images/line01.png"><h1><a href="#">东莞优秀装修公司</a></h1><img src="./images/line01.png">
		</div>
		<div class="home-txt">东莞高性价比装修公司任您选择，一对一专业服务</div>
		<div class="fourbox">
			<div class="sec-logos">
				<div class="logos">
					<dl>
						<dd>
							<a href="#" target="_blank" title="">
								<img src="./images/596337c216c79.jpg" alt="三星装饰">
							</a>
						</dd><dd>
							<a href="#" target="_blank" title="">
								<img src="./images/m_52720fad86cdb.jpg" alt="华浔品味装饰">
							</a>
						</dd><dd>
							<a href="#" target="_blank" title="">
								<img src="./images/5968917e22dc8.jpg" alt="华美乐装饰">
							</a>
						</dd><dd>
							<a href="#" target="_blank" title="">
								<img src="./images/59dae6ac3969b.jpg" alt="九龙装饰">
							</a>
						</dd><dd>
							<a href="#" target="_blank" title="">
								<img src="./images/5b55457382112.png" alt="兵谣装饰设计工程有限公司">
							</a>
						</dd><dd>
							<a href="#" target="_blank" title="">
								<img src="./images/596337c216c79.jpg" alt="三星装饰">
							</a>
						</dd><dd>
							<a href="#" target="_blank" title="">
								<img src="./images/m_52720fad86cdb.jpg" alt="华浔品味装饰">
							</a>
						</dd><dd>
							<a href="#" target="_blank" title="">
								<img src="./images/5968917e22dc8.jpg" alt="华美乐装饰">
							</a>
						</dd><dd>
							<a href="#" target="_blank" title="">
								<img src="./images/59dae6ac3969b.jpg" alt="九龙装饰">
							</a>
						</dd><dd>
							<a href="#" target="_blank" title="">
								<img src="./images/5b55457382112.png" alt="兵谣装饰设计工程有限公司">
							</a>
						</dd><dd>
							<a href="#" target="_blank" title="">
								<img src="./images/596337c216c79.jpg" alt="三星装饰">
							</a>
						</dd><dd>
							<a href="#" target="_blank" title="">
								<img src="./images/m_52720fad86cdb.jpg" alt="华浔品味装饰">
							</a>
						</dd><dd>
							<a href="#" target="_blank" title="">
								<img src="./images/5968917e22dc8.jpg" alt="华美乐装饰">
							</a>
						</dd><dd>
							<a href="#" target="_blank" title="">
								<img src="./images/59dae6ac3969b.jpg" alt="九龙装饰">
							</a>
						</dd><dd>
							<a href="#" target="_blank" title="">
								<img src="./images/5b55457382112.png" alt="兵谣装饰设计工程有限公司">
							</a>
						</dd><dd>
							<a href="#" target="_blank" title="">
								<img src="./images/596337c216c79.jpg" alt="三星装饰">
							</a>
						</dd><dd>
							<a href="#" target="_blank" title="">
								<img src="./images/m_52720fad86cdb.jpg" alt="华浔品味装饰">
							</a>
						</dd><dd>
							<a href="#" target="_blank" title="">
								<img src="./images/5968917e22dc8.jpg" alt="华美乐装饰">
							</a>
						</dd><dd>
							<a href="#" target="_blank" title="">
								<img src="./images/59dae6ac3969b.jpg" alt="九龙装饰">
							</a>
						</dd><dd>
							<a href="#" target="_blank" title="">
								<img src="./images/5b55457382112.png" alt="兵谣装饰设计工程有限公司">
							</a>
						</dd>
					</dl>
				</div>
			</div>
			<div class="mainBox02">
				<div class="mainTab hd">
					<ul>
						<li class="on">口碑排名</li>
						<li>活跃度排名</li>
					</ul>
				</div>
				<div class="clear_both"></div>
				<div class="mainTabBox bd">
					<div class="con_one_1">
						<div class="painame">
							<ul>
								<li>
									<a href="#" target="_blank">
										<div class="painame_left"><i class="no1"></i></div>
										<div class="painame_mid">
											<img src="images/t1.jpg" width="54" height="54" alt="广东九龙装饰设计工程有限公司">
										</div>
										<div class="painame_right">
											<h3 class="painame_right_txt1">九龙装饰</h3>
											<p class="painame_right_txt2">口碑值<span>259</span></p>
										</div>
										<div class="clear_both"></div>
									</a>
								</li>
								<li>
									<a href="#" target="_blank">
										<div class="painame_left"><i class="no2"></i></div>
										<div class="painame_mid">
											<img src="images/t2.jpg" width="54" height="54" alt="华美乐装饰工程有限公司">
										</div>
										<div class="painame_right">
											<h3 class="painame_right_txt1">华美乐装饰工程...</h3>
											<p class="painame_right_txt2">口碑值<span>259</span></p>
										</div>
										<div class="clear_both"></div>
									</a>
								</li>
								<li>
									<a href="#" target="_blank">
										<div class="painame_left"><i class="no3"></i></div>
										<div class="painame_mid">
											<img src="images/t3.jpg" width="54" height="54" alt="家之乐装饰有限公司">
										</div>
										<div class="painame_right">
											<h3 class="painame_right_txt1">家之乐装饰</h3>
											<p class="painame_right_txt2">口碑值<span>57</span></p>
										</div>
										<div class="clear_both"></div>
									</a>
								</li>
								<li>
									<a href="#" target="_blank">
										<div class="painame_left"><i class="no4"></i></div>
										<div class="painame_mid">
											<img src="images/t4.jpg" width="54" height="54" alt="天尔装饰设计工程有限公司">
										</div>
										<div class="painame_right">
											<h3 class="painame_right_txt1">天尔装饰设计工...</h3>
											<p class="painame_right_txt2">口碑值<span>19</span></p>
										</div>
										<div class="clear_both"></div>
									</a>
								</li>
								<li>
									<a href="#" target="_blank">
										<div class="painame_left"><i class="no5"></i></div>
										<div class="painame_mid">
											<img src="images/t5.jpg" width="54" height="54" alt="东莞市兵谣装饰设计工程有限公司">
										</div>
										<div class="painame_right">
											<h3 class="painame_right_txt1">兵谣装饰</h3>
											<p class="painame_right_txt2">口碑值<span>17</span></p>
										</div>
										<div class="clear_both"></div>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="con_one_1" style="display: none;">
						<div class="painame">
							<ul>
								<li>
									<a href="#" target="_blank">
										<div class="painame_left"><i class="no1"></i></div>
										<div class="painame_mid">
											<img src="./images/grey.gif" width="54" height="54" alt="东莞市权华装饰设计工程有限公司">
										</div>
										<div class="painame_right">
											<h3 class="painame_right_txt1">权华装饰</h3>
											<p class="painame_right_txt2">周积分值<span>5</span></p>
										</div>
										<div class="clear_both"></div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="clear_both"></div>
		</div>
 
		<div class="home-title title">
			<img src="./images/line01.png"><h1><a href="#">装修攻略</a></h1><img src="./images/line01.png">
		</div>
		<div class="home-txt">学习装修知识，避免装修猫腻，上万篇装修干货分享，另有装修达人为您在线答疑解惑。</div>
		<div class="gonglvebox cf">
			<div class="gonglve_left">
				<div class="gonglvelist">
					<a href="#" target="_blank" class="gonglve_a"><img src="./images/5a9df85cd3bf9.jpg" width="275" height="192" class="img-hover"></a>
					<div class="shequtxt4 cf">
						<p><a href="#" target="_blank">指纹防盗锁安不安全？指纹防盗锁的...</a></p>
					</div>
					<div class="gonglve_tiao">
						<ul>
							<li><a href="#" target="_blank">阁楼开天窗注意事项，阁楼怎么开天窗</a></li>
							<li><a href="#" target="_blank">简欧风格装修图片大全，简欧风格装修图片案...</a></li>
							<li><a href="#" target="_blank">五斗柜尺寸选购技巧   五斗柜尺寸标明介...</a></li>
						</ul>
					</div>
				</div>
				<div class="space2"> </div>
				<div class="gonglvelist">
					<a href="#" target="_blank" class="gonglve_a"><img src="./images/5aa0de995d7e2.jpg" width="275" height="192" class="img-hover"></a>
					<div class="shequtxt4 cf">
						<p><a href="#" target="_blank">上下铺儿童床如何购买？儿童床品牌...</a></p>
					</div>
					<div class="gonglve_tiao">
						<ul>
							<li><a href="#" target="_blank">发廊装修图片    发廊装修注意事项</a></li>
							<li><a href="#" target="_blank">哈博即热式电热水器特点 电热水器的工作原...</a></li>
							<li><a href="#" target="_blank">史密斯热水器维修报修流程 热水器维修方法</a></li>
						</ul>
					</div>
				</div>
				<div class="space2"> </div>
				<div class="gonglvelist">
					<a href="#" target="_blank" class="gonglve_a"><img src="./images/5aa3985eb53b1.jpg" width="275" height="192" class="img-hover"></a>
					<div class="shequtxt4 cf">
						<p><a href="#" target="_blank">榉木家具的保养方法   榉木家具...</a></p>
					</div>
					<div class="gonglve_tiao">
						<ul>
							<li><a href="#" target="_blank">青花瓷美缝剂的种类 青花瓷美缝剂的优点</a></li>
							<li><a href="#" target="_blank">房子儿童设计技巧   房子儿童房装修要点</a></li>
							<li><a href="#" target="_blank">餐桌上的礼仪细节，餐桌上的礼仪禁忌</a></li>
						</ul>
					</div>
				</div>
		        <div class="clear_both"></div>
		    </div>
		    <div class="gonglve_right">
		    	<div class="gonglve_right_list">
		    		<ul>
		    			<li>
		    				<div class="gonglve_right_img"><a href="#" target="_blank"><img src="./images/5a9b8792391e2.jpg"></a></div>
		    				<div class="gonglve_right_con">
		    					<h5 class="gonglve_right_con_txt1"><a href="#" target="_blank">电视柜装修效果图    电视柜的搭配要点</a></h5>
		    					<p class="gonglve_right_con_txt2"></p>
		    				</div>
		    				<div class="clear_both"></div>
		    			</li>
		    			<li>
		    				<div class="gonglve_right_img"><a href="#" target="_blank"><img src="./images/5a9659f31c458.png"></a></div>
		    				<div class="gonglve_right_con">
		    					<h5 class="gonglve_right_con_txt1"><a href="#" target="_blank">瓷砖裂缝如何修补？瓷砖裂缝修补注意事项</a></h5>
		    					<p class="gonglve_right_con_txt2"></p>
		    				</div>
		    				<div class="clear_both"></div>
		    			</li>
		    			<li>
		    				<div class="gonglve_right_img"><a href="#" target="_blank"><img src="./images/5a94aeccded23.jpg"></a></div>
		    				<div class="gonglve_right_con">
		    					<h5 class="gonglve_right_con_txt1"><a href="#" target="_blank">美缝施工方法有哪些？美缝施工的注意事项</a></h5>
		    					<p class="gonglve_right_con_txt2"></p>
		    				</div>
		    				<div class="clear_both"></div>
		    			</li>
		    		</ul>
		    	</div>
		    </div>
		    <div class="clear_both"></div>
		</div>

</div>
<script src="js/swiper.min.js"></script>
<script type="text/javascript">
	var swiper = new Swiper('.swiper-container1', {spaceBetween: 30,centeredSlides: true,autoplay: {delay: 5000,disableOnInteraction: false,},pagination: {el: '.swiper-pagination',clickable: true,},navigation: {nextEl: '.swiper-button-next',prevEl: '.swiper-button-prev',},});
	$('.mainBox02').find('li').hover(function(){
		$(this).addClass("on").siblings().removeClass("on");
        $(".mainTabBox > div").eq($(this).index()).show().siblings().hide();//选中菜单，出现对应的内容
    });
</script>
{template 'footer'}