<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>帮助说明</title>
    <link rel="stylesheet" href="static/css/frozen.css">
    <link rel="stylesheet" href="static/css/public.css">
    <link rel="stylesheet" href="static/css/fan.css">
</head>
<body ontouchstart="">
<header class="ui-header hf-header">
    <i class="hf-icon-return" onclick="history.back()"></i>
    <h1>帮助说明</h1>
</header><section class="ui-container">
    <section class="ui-panel help-list">
        <h5 class="border-bottom title plr30">还款方式</h5>
        <div class="content plr30 border-bottom">
            <div class="top">
                <div class="icon-help-ico-benjin"></div>
                <span class="hf-fblue">等额本息</span>
            </div>
            <div class="middle">
                借款人每月按相等金额偿还贷款本息，其中每月贷款利息按月初剩余贷款本金计算并逐月结算，适合收入稳定者。
            </div>
        </div>

        <div class="content plr30 border-bottom">
            <div class="top">
                <div class="icon-help-ico-benxi"></div>
                <span class="hf-fyellowf0ac28">等额本金</span>
            </div>
            <div class="middle">
                本金保持相同，利息逐月递减，月还款数递减；由于每月的还款本金额固定而利息越来越少，贷款人起初还款压力较大，但是随时间推移每月还款数也越来越少。
            </div>
        </div>
    </section>

    <section class="ui-panel help-list mgnone">
        <h5 class="border-bottom title plr30">贷款利率表</h5>
        <div class="table-1">
            <table>
                <thead>
                <tr>
                    <th>贷款期限</th>
                    <th>商业贷款利率（%）</th>
                    <th>公积金贷款利率(%)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>5年以上</td>
                    <td> 4.90</td>
                    <td>3.25</td>
                </tr>
                <tr>
                    <td>3-5年（含）</td>
                    <td> 4.75</td>
                    <td>2.75</td>
                </tr>
                <tr>
                    <td>1-3年（含）</td>
                    <td> 4.75</td>
                    <td>2.75</td>
                </tr>
                <tr>
                    <td>1年</td>
                    <td>4.35</td>
                    <td>2.75</td>
                </tr>
                <tr>
                    <td>6个月</td>
                    <td>4.35</td>
                    <td>2.75</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="4">
                        <p>以上为央行2015年最新公布的贷款基准利率</p>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </section>
</section>



<script src="static/js/zepto.min.js"></script>
<script src="static/js/frozen.js"></script>
</body>
</html>