{template 'header'}
<div id="main">
  <div class="abct_">
    <div class="c1_">已有<b>115</b>人申请</div>
    <div class="c2_">已有<b>22</b>人申请</div>
    <div class="c3_">已有<b>65</b>人申请</div>
    <div class="c4_"><a href="{$MODULE[2][linkurl]}my.php?mid=13&action=add" target="_blank">点击免费申请</a>至今已帮<b>500</b>家业主服务</div>
  </div>
  <div class="zxTitle">
    <ul>
      <li><a href="{$MODULE[13][linkurl]}" class="cur">全部</a></li>
      {php $maincat = get_maincat(0,13)}
      {loop $maincat $k $v}<li> <a href='{$MODULE[13][linkurl]}list-{$v[catid]}.html '>{$v[catname]}</a></li>{/loop} 
    </ul>
  </div>
  <div class="zxList">
    <!--{php $tags=tag("moduleid=13&condition=status=3&areaid=$cityid&length=36&pagesize=12&order=addtime desc&target=_blank&template=null");}-->
    {loop $tags $i $t}
    <ul>
      <li class="pic"><a href="{$t[linkurl]}" title="{$t[alt]}" target="_blank"><img alt="{$t[alt]}" src="{imgurl($t[thumb])}"></a></li>
      <li class="mid"><div class="mid1">{area_pos($t[areaid], ' ')} -- <a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}">{$t[title]}</a></div>
        <div class="mid2"><span>户型：{$t[hxjg]}</span><span>面积：{$t[jzmj]}</span><span>预算：{$t[yusuan]}</span></div>
        <div class="mid3">备注：{$t[content]}</div>
      </li>
      <li class="tel"><span class="xm">{$t[ndch]}</span><span class="dh">{$t[sjhm]}</span></li>
      <li class="sj">{timetodate($t[addtime], 3)}</li>
    </ul>
    {/loop}
  </div>
</div>
{template 'footer'}