{template 'header'}
<div id="main">
<div class="bread">您所在的位置：<a href="{$MODULE[1][linkurl]}">首页</a> > <a href="{$MOD[linkurl]}">担保贷款</a></div>
<div class="zsxq">
  <h1>{$title}</h1>
  <h4><span>所在区域：{area_pos($areaid, ' ')}</span><span>发布时间：{$editdate}</span></h4>
  <div class="dklxfs">
    <ul>
      <li>公司名称：{$gsmc}</li>
      <li>公司地址：{$lxdz}</li>
      <li>联 系 人：{$lxr}</li>
      <li>联系电话：<span>{$lxdh}</span></li>
    </ul>
  </div>
  <div class="zsnr">{$content}</div>
  <div class="zspic">
    <ul>
    {if $thumb}<li  class="on" data-bigurl="{$thumb}"><img src="{$thumb}" /></li>{else} {/if}
    {if $thumb1}<li  data-bigurl="{$thumb1}"><img src="{$thumb1}" /></li>{else} {/if}
    {if $thumb2}<li   data-bigurl="{$thumb2}"><img src="{$thumb2}"/></li>{else} {/if}
    </ul>
  </div>
</div>

{template 'footer'}