{template 'header'}
<div id="main">
<div class="bread">您所在的位置：<a href="{$MODULE[1][linkurl]}">首页</a>&nbsp;&gt;&nbsp;<a href="{$MOD[linkurl]}">{$MOD[name]}</a>&nbsp;&gt;&nbsp;{cat_pos($CAT, ' &raquo; ')}</div>
  <div class="jcPic">
    <div class="jcPbig">{if $thumb}<li  class="on" data-bigurl="{$thumb}"><img src="{$thumb}" /></li>{else}{/if}</div>
    <div class="jcPlist"><h1>{$title}</h1>
      <h2>￥<span>{$jiage}</span></h2>
      <ul>
        <li>品牌：{$pinpai}</li>
        <li>型号：{$xinghao}</li>
        <li>规格：{$guige}</li>
      </ul>
      <h3><span class="span1">预约到店</span></h3>
      <h4><span>{$dianhua}</span></h4>
    </div>
  </div>
  <div class="jcnr">{$content}</div>
  <div class="jcpic2">
    <ul>
    {if $thumb}<li  class="on" data-bigurl="{$thumb}"><img src="{$thumb}" /></li>{else}{/if}
    {if $thumb1}<li  data-bigurl="{$thumb1}"><img src="{$thumb1}" /></li>{else} {/if}
    {if $thumb2}<li   data-bigurl="{$thumb2}"><img src="{$thumb2}"/></li>{else} {/if}
    </ul>
  </div>
</div>

{template 'footer'}