html{height:100%}
body{height:100%;margin:0px;padding:0px;font-size:14px;}
.hf-border-right{border-right:1px solid #c0c0c0;}
.hf-text-center{text-align:center;}
#findMapBox{width:100%;}
/*地图区域显示层*/
.hf-area-layer{width:100px;height:60px;border-radius:10px;display:inline-block;text-align:center;font-size:16px;}
.hf-area-title{width:100%;height:30px;background:#fff;color:#000;line-height:30px;border-top-left-radius:10px;border-top-right-radius:10px;}
.hf-area-content{width:100%;height:30px;background:#7dd232;color:#fff;line-height:30px;border-bottom-left-radius:10px;border-bottom-right-radius: 10px;}

/*楼盘显示层  绿色*/
.hf-tag-blue{ width:150px; height:25px; position:relative; background-color:#7dd232;color:#fff;font-size:12px;line-height:25px;text-align: center;border-radius:5px;}
.hf-arrow-blue{ position:absolute; width:10px; height:10px; bottom:-10px; left:70px; }
.hf-arrow-blue *{ display:block; border-width:5px; position:absolute; border-style:solid dashed dashed dashed; font-size:0; line-height:0; }
.hf-arrow-blue em{border-color:#7dd232 transparent transparent;}
.hf-arrow-blue span{border-color:#7dd232 transparent transparent; top:-7px;}

/*楼盘显示层  灰色*/
.hf-tag-grey{ width:150px; height:25px; position:relative; background-color:#666;color:#fff;font-size:12px;line-height:25px;text-align: center;border-radius:5px;}
.hf-arrow-grey{ position:absolute; width:10px; height:10px; bottom:-10px; left:70px; }
.hf-arrow-grey *{ display:block; border-width:5px; position:absolute; border-style:solid dashed dashed dashed; font-size:0; line-height:0; }
.hf-arrow-grey em{border-color:#666 transparent transparent;}
.hf-arrow-grey span{border-color:#666 transparent transparent; top:-7px;}

/*导航*/
.hf-map-nav{width:100%;height:40px;background:#fff;position:absolute;bottom:10px;z-index:99999;font-size:13px;}
.hf-map-nav-blue{background:#7dd232;color:#fff;text-align:center;}
.hf-map-nav-grey{color:#666;text-align:center;}

/*楼盘列表*/
.hf-map-list-title{font-size:14px;height:40px;line-height:40px;border-bottom:1px solid #c0c0c0;}

.hf-pop-house{/*position: fixed;*/width: 100%;bottom: 0;left: 0;}
.hf-pop-house h2{background: #eee;line-height: 44px;border-bottom: #ddd 1px solid;}


#map {
	display: block;
	
	width: 100%;
	height: 260px;
	background: #fff
}
#zoom {
	position: absolute;
	bottom: 9px;
	right: 9px;
	z-index: 2;
}
#zoom a {
	display: block;
	width: 32px;
	height: 32px;
	background: rgba(0, 0, 0, .4) url(../images/mpa-in.png) no-repeat 50% 50%;
	background-size: 12px 12px;
	border: 1px #fff solid;
	margin: 9px 0 0 0;
}
#zoom a.out {
	background-image: url(../images/mpa-out.png)
}
#zoom a.on {
	background-color: rgba();
}
#zoom a.drive{
	background-image: url(../images/ico_d.png)
}
.map nav {
	display: table;
	position: absolute;
	left: 0;
	top: 1px;
	width: 100%;
	background-color: rgba(255, 255, 255, .8);
	box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
}
.map nav a, .map nav i {
	display: table-cell;
	height: 32px;
}
.map nav a i {
	display: block;
	width: 20px;
	height: 20px;
	margin: 6px auto;
	background: url(../images/icon-vici.png) no-repeat 0 0;
	background-size: 140px 40px;
}
.map nav a.m_n_2 i {
	background-position: -20px 0;
}
.map nav a.m_n_3 i {
	background-position: -40px 0;
}
.map nav a.m_n_4 i {
	background-position: -60px 0;
}
.map nav a.m_n_5 i {
	background-position: -80px 0;
}
.map nav a.m_n_6 i {
	background-position: -100px 0;
}
.map nav a.m_n_7 i {
	background-position: -120px 0;
}
.map nav a.on i {
	background-position: 0 -20px;
}
.map nav a.on.m_n_2 i {
	background-position: -20px -20px;
}
.map nav a.on.m_n_3 i {
	background-position: -40px -20px;
}
.map nav a.on.m_n_4 i {
	background-position: -60px -20px;
}
.map nav a.on.m_n_5 i {
	background-position: -80px -20px;
}
.map nav a.on.m_n_6 i {
	background-position: -100px -20px;
}
.map nav a.on.m_n_7 i {
	background-position: -120px -20px;
}
.lp_con {
	width: 240px;
	position: relative;
	display: block
}
.lp_con .lpic {
	display: block;
	position: absolute;
	width: 80px;
	height: 80px;
	box-shadow: 0px 0px 3px #000 inset;
	background-size: 80px 80px;
	top: 0px;
	left: 0px;
	z-index: 1
}
.lp_con .ltxt {
	display: block;
	margin: 0 0 0 80px;
	overflow: hidden;
	padding: 0px 9px 0 9px;
	line-height: 20px
}
.lp_con .ltxt label {
	display: block;
	line-height: 20px;
}
.lp_con .ltxt .h1 {
	font-size: 14px;
	font-weight: bold;
}
.lp_con .ltxt .jg {
	font-size: 12px;
	color: #cc3b3a;
	font-weight: bold
}
.lp_con .ltxt .wz {
	font-size: 12px;
}

