<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
       <title>{$head_name}</title>
        <META NAME="keywords" CONTENT="{$head_keywords}" />
        <META name="description" CONTENT="{$head_description}" />
        <link rel="stylesheet" href="static/css/frozen.css">
        <link rel="stylesheet" href="static/css/public.css">
        
    <style>
    .hf-filter-area{
        position: fixed;
        display: none;
        top: 0;        
        left: 0;
        width: 100%;height: 100%;       
        background: rgba(0,0,0,0.5);
        z-index: 3;
    }
    .ui-container{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 222;
    }
    .hf-subnav{
        background-color: #f6f6f6;
    }
    .hf-filter{
        top: 41px;
    }
    .hf-housenum{
        background-color: #f6f6f6;
    }
    .ui-container-cnt{
        position: absolute;
        top: 128px;
        left: 0;
        right: 0;
        z-index: 2;
    }
    .ui-header, .ui-footer{
        z-index: 333;
    }
    .hf-footer{
        display: none;
    }
	.pagination {
	text-align: center;
	font-family: SimSun,sans-serif;
	padding: 12px 0;
}
.pagination a, .pagination span {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	font-size: 15px;
	padding: 0 10px;
	margin: 0 0px;
	color:#9D9D9D;
	border:1px solid #DFDFDF;
	vertical-align: middle;
	transition:all .2s;
}
.pagination span {
	font-size:15px;
	color:#F80;
	font-weight:300;
	
	border-color:#F80;
}
.pagination a:hover {
	text-decoration: none;
	border-color:#F80;
	background:#FFEEE5;
	color:#9D9D9D;
}
    </style>
    </head>
    <body ontouchstart="">
	<!-- 头部 start-->
        <header class="ui-header hf-header">
            <i class="hf-icon-return" onclick="history.back()"></i>
            <a class="hf-header-search" href="search.php">
                <i class="hf-icon-search"></i>&nbsp;&nbsp;房源名称
            </a>
            <div class="hf-header-r"><i class="hf-icon-daohang"></i></div>
        </header>
        <!-- 头部 end-->

        <!-- 导航 start-->
       <div class="pop-layer" >
            <div class="pop-main">
                <h6 class="ui-whitespace">全部导航</h6>
                <div class="allNav">
				<a href="index.php">首页</a>{loop $MOB_MODULE $i $m}<a href="{mobileurl($m[moduleid])}">{$m[name]}</a>{/loop}</div>
            </div>
        </div>
        <!-- 导航 end-->    <!-- 遮罩层 -->
    <div class="hf-filter-area">

    </div>
    <!-- 遮罩层end -->

        <!-- 主体内容 start-->
        <section class="ui-container">
		   
			<ul class="ui-row hf-category">                <!-- 区域浮层 start-->
                <li class="ui-col ui-col-25 hf-category-item">
                    <a href="#" class="item-name" id="filter-area"><span class="map-fliter">区域</span><i></i></a>
                    <div class="hf-filter" id="filter-area-content" style="display:none;">
                        <div class="ui-row hf-filter-main">
                            <div class="ui-col ui-col-33">
                                <ul class="hf-filter-list">
                                    <li class="area-type on">区域</li>
                                </ul>
                            </div>
                            <div class="ui-col ui-col-67 area-scroller">
                                <ul class="hf-filter-list hf-filter-white filter-area-type">
                                    <li><a href="m5{deal_str($lst,'r')}.html" class="area-list {if empty($areaid)}on{/if} ">不限</a></li>
                                     <li><a href="m5{deal_str($lst,'r')}.html" class="area-list {if $areaid==$cityid}on{/if} ">{$city_name}</a></li>
                                    {php $mainareas = get_mainarea($cityid)}
									{loop $mainareas $k $v}
									<li><a href="m5{deal_str($lst,'r')}-r{$v[areaid]}.html" class="area-list {if $areaid==$v[areaid]}on{/if} ">{$v[areaname]}</a></li> {/loop}</li>                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                 {if $areaid}
                <!-- 区域浮层 start-->
                	<ul class="ui-row hf-category">                <!-- 区域浮层 start-->
                <li class="ui-col ui-col-25 hf-category-item">
                    <a href="#" class="item-name" id="filter-bid"><span class="map-fliter">商圈</span><i></i></a>
                    <div class="hf-filter" id="filter-bid-content" style="display:none;">
                        <div class="ui-row hf-filter-main">
                            <div class="ui-col ui-col-33">
                                <ul class="hf-filter-list">
                                    <li class="bid-type on">商圈</li>
                                </ul>
                            </div>
                            <div class="ui-col ui-col-67 bid-scroller">
                                <ul class="hf-filter-list hf-filter-white filter-area-type">
                                    <li><a href="m5{deal_str($lst,'b')}.html" class="bid-list {if empty($bid)}on{/if} ">不限</a></li>
                                 
                                   {php $mainareas = get_mainarea($areaid)}
						{loop $mainareas $k $v}
									<li><a href="m5{deal_str($lst,'b')}-b{$v[areaid]}.html" class="bid-list {if $bid==$v[areaid]}on{/if} ">{$v[areaname]}</a></li> {/loop}</li>                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- 区域浮层 start-->
                {/if}

                <!-- 类型浮层 start-->
                <li class="ui-col ui-col-25 hf-category-item">
                    <a href="#" class="item-name" id="filter-type"><span class="map-fliter">类型</span><i></i></a>
                    <div class="hf-filter" id="filter-type-content" style="display:none;">
                        <div class="ui-row hf-filter-main">
                            <ul class="hf-filter-list hf-filter-white">
								<li><a href="m5{deal_str($lst,'t')}.html" class="type-list  {if empty($catid)}on{/if}">不限</a></li>
                                 {php $maincat = get_maincat(0,5)}
						 {loop $maincat $k $v}
									<li class="type-list"><a href="m5{deal_str($lst,'t')}-t{$v[catid]}.html" class="type-list {if $catid==$v[catid]}on{/if} ">{$v[catname]}</a>{/loop}</ul>
                        </div>
                    </div>
                </li>
                <!-- 类型浮层 end-->

                <!-- 价格浮层 start-->
                <li class="ui-col ui-col-25 hf-category-item">
                   <a href="#" class="item-name" id="filter-price"><span class="map-fliter">价格</span><i></i></a>
                   <div class="hf-filter" id="filter-price-content" style="display:none;">
                        <div class="ui-row hf-filter-main">
                            <ul class="hf-filter-list hf-filter-white">
								<li><a href="m5{deal_str($lst,'p')}.html" class="price-list {if empty($range)}on{/if}">不限</a></li>
                                {php $range_arr = getbox_name('range','sale_5')}
					    {loop $range_arr $key $v}
								<li><a href="m5{deal_str($lst,'p')}-p{$key}.html" class="price-list {if $range==$key}on{/if}">{$v}</a></li>{/loop}</ul>
                        </div>
                    </div>
                </li>
                <!-- 价格浮层 end-->

                <!-- 更多浮层 start-->
                <li class="ui-col ui-col-25 hf-category-item">
                    <a href="#" class="item-name" id="filter-more"><span>更多</span><i></i></a>
                    <div class="hf-filter" id="filter-more-content" style="display:none;">
                        <div class="ui-row hf-filter-main" style="height: 330px;">
                            <div class="ui-col ui-col-33">
                                <ul class="hf-filter-list">
                                    <li class="more-type on">排序</li>
                                     <li class="more-type">户型</li>
                                    <li class="more-type">面积</li>
                                    <li class="more-type">房龄</li>
                                     <li class="more-type">朝向</li>
                                    <li class="more-type">装修</li>
                                    <li class="more-type">来源</li>


                                </ul>
                            </div>
                            <div class="ui-col ui-col-67">
                                <!-- 排序 -->
                                <ul class="hf-filter-list hf-filter-white filter-more-type" >
									<li><a href="m5{deal_str($lst,'n')}-n0.html" class="sequence-list {if empty($ord)}on{/if}">默认排序</a></li>
									<li><a href="m5{deal_str($lst,'n')}-n1.html" class="sequence-list {if $ord==1}on{/if}">发布时间由近到远</a></li>
                                    <li><a href="m5{deal_str($lst,'n')}-n2.html" class="sequence-list {if $ord==2}on{/if}">总价由低到高</a></li>
                                    <li><a href="m5{deal_str($lst,'n')}-n6.html" class="sequence-list {if $ord==6}on{/if}">总价由高到低</a></li>
                                    <li><a href="m5{deal_str($lst,'n')}-n3.html" class="sequence-list {if $ord==3}on{/if}">单价由低到高</a></li>
                                    <li><a href="m5{deal_str($lst,'n')}-n4.html" class="sequence-list {if $ord==4}on{/if}">面积由高到低</a></li>
                                    <li><a href="m5{deal_str($lst,'n')}-n5.html" class="sequence-list {if $ord==5}on{/if}">面积由低到高</a></li>                               
                                    </ul>
                               
                        
                         <!-- 户型 -->
                                <ul class="hf-filter-list hf-filter-white filter-more-type" style="display:none;">
									<li><a href="m5{deal_str($lst,'x')}.html" class="house-list {if empty($hu)}on{/if}">不限</a></li>
                                    {php $huxing = array('一室', '二室', '三室', '四室', '五室以上');}
{loop $huxing $k $v} 
									<li><a href="m5{deal_str($lst,'x')}-x{$k+1}.html"  class="house-list {if $hu==$k+1}on{/if} ">{$v}</a></li>{/loop} </ul>
                                <!-- 面积 -->
                                <ul class="hf-filter-list hf-filter-white filter-more-type" style="display:none;">
									<li><a href="m5{deal_str($lst,'c')}.html" class="loop-list {if empty($area)}on{/if}">不限</a></li>
                                    {php $mianji = array('40平米以下', '40-60平米', '60-80平米', '80-100平米', '100-120平米', '120-150平米','150平米以上');}
{loop $mianji $k $v} 
									<li><a href="m5{deal_str($lst,'c')}-c{$k+1}.html" class="house-list {if $area==$k+1}on{/if}">{$v}</a></li>{/loop}                             </ul>
                                <!-- 房龄-->
                                <ul class="hf-filter-list hf-filter-white filter-more-type" style="display:none;">
									<li><a href="m5{deal_str($lst,'y')}.html" class="age-list {if empty($year)}on{/if}">不限</a></li>
                                    {php $yearr = array('2000年以前', '2000年以后', '2005年以后', '2010年以后');}
                                                                      
{loop $yearr $k $v}
									<li><a href="m5{deal_str($lst,'y')}-y{$k+1}.html" class="age-list {if $year==$k+1}on{/if}">{$v}</a></li>{/loop}                         </ul>
                                        <!-- 朝向-->
                                <ul class="hf-filter-list hf-filter-white filter-more-type" id="more-special" style="display:none;">
									<li><a href="m5{deal_str($lst,'s')}.html" class="roomFace-list {if empty($toward)}on{/if}">不限</a></li>
									 {php $toward_arr = getbox_name('toward','sale_5')}
					    {loop $toward_arr $key $v}<li><a href="m5{deal_str($lst,'s')}-s{$key}.html" class="roomFace-list {if $toward==$key}on{/if} ">{$v}</a></li>{/loop}                               </ul>
                                 <!-- 装修-->
                                <ul class="hf-filter-list hf-filter-white filter-more-type" style="display:none;">
									<li><a href="m5{deal_str($lst,'f')}.html" class="fitment-list {if empty($fix)}on{/if}">不限</a></li>
                                    {php $fix_arr = getbox_name('fix','sale_5')}
					    {loop $fix_arr $key $v}
									<li><a href="m5{deal_str($lst,'f')}-f{$key}.html" class="fitment-list  {if $fix==$key}on{/if}">{$v}</a></li>{/loop}                       </ul>

                               <ul class="hf-filter-list hf-filter-white filter-more-type" style="display:none;">
									<li><a href="m5{deal_str($lst,'u')}.html" class="original-list {if empty($source)}on{/if}">不限</a></li>
									<li><a href="m5{deal_str($lst,'u')}-u2.html" class="original-list {if $source==2}on{/if}">经纪人</a></li>
                                    <li><a href="m5{deal_str($lst,'u')}-u1.html" class="original-list {if $source==1}on{/if}">个人</a></li>                                </ul>


                         
                            </div>
                            <div class="ui-btn-group" style="padding-top:10px;">
                                <button class="ui-btn" onclick='window.location.href="5-0-0-1.html"' id="more-reset">重置</button>
                                <!-- <button class="ui-btn" id="more-ok">确定</button> -->
                            </div>
                        </div>
                    </div>
                </li>
                <!-- 更多浮层 start-->
            </ul>
            <!-- 菜单 start-->
	<div class="hf-housenum"><div class="hf-badge-wrap" style="padding:10px 10px 5px 0;">共<span class="hf-fblue">{$items}</span>个房源 <a href="user.php?mid=5" class="hf-badge-pos ui-btn hf-fgreen">&nbsp;我要卖房&nbsp;</a>  <a style="right:100px;" href="user.php?mid=7" class="hf-badge-pos ui-btn hf-fgreen">&nbsp;我要出租&nbsp;</a></div></div>
        </section>

        <!-- 主体内容 start-->

           <!-- 楼盘 start-->
          
                <section  class="ui-container-cnt">
                <ul class="ui-list ui-list-active hf-house" id="oldhouseListBox">

            
                {loop $lists $t}
            
                    <li class="ui-border-t">
                        <a href="{$t[linkurl]}">
                            <div class="hf-house-box">
                                <div class="ui-list-img">
                                    <img class="lazyload" src="static/images/loading.png" data-original="{imgurl($t[thumb])}" >
                                   <i class="hf-badge-pos hf-badge">{if $t[typeid]==0}个人{else}中介{/if}</i>                               </div>
                                   <div class="ui-list-info">
                                    <h4 class="ui-nowrap-multi ">{$t[title]}</h4>
                                        <div class="hf-f12 hf-fgray "> {if $t[fyts]}   <p>
                                                                           <!--{php $ts=explode(",",$t[fyts]);}-->
                    {loop $ts $ks $vs}
                     <span class="ts" style="background:#ff6000; color:#FFF">{$vs}</span>
                    {/loop}  </p>{/if}</div>
                                    <div class="hf-f12 hf-fgray">{area_pos($t[areaid], '')} {$t[housename]}</div>
                                   <div class="ui-nowrap hf-badge-wrap hf-f13 hf-fgray">{if $t[room]}{$t[room]}室{/if}{if $t[hall]}{$t[hall]}厅{/if}{if $t[toilet]}{$t[toilet]}卫{/if}  {$t[houseearm]}㎡<span class="hf-badge-pos"><em class="hf-f15 hf-fred">{if $t[price]}{$t[price]}万元{else}面议{/if}</em></span></div>
                                </div>
                            </div>
                                                    </a>
                    </li>{/loop}
                </ul>
                <div class="ui-loading-wrap"  >
                {if $pages}<div class="pagination">{$pages}</div>{/if}
               
                <!-- <i class="ui-loading"></i> -->
                </div>

            </section>
            <!-- 楼盘 end-->




        <!-- 尾部 start-->
        <footer class="hf-footer">
        <div class="copy ui-border-t">Copyright &copy; 2016 {$AJ[sitename]}版权所有</div>
</footer>

        <!-- 尾部 end-->

        <!-- gotop start-->
        <div class="hf-gotop" id="backTop" style="display:none;">
            <a href="#"><i class="hf-icon-gotop"></i></a>
        </div>
        <!-- gotop end-->
    

        <!-- frozenUI 框架 js start-->
        <script src="static/js/zepto.min.js"></script>
        <script src="static/js/frozen.js"></script>
        <!-- frozenUI 框架 js end-->
       <script src="static/js/zepto.picLazyLoad.js"></script>
        <script src="static/js/public.js"></script>
        <script src="static/js/house.js"></script>
       

    </body>
</html>